html {
    background: #fff;
  }
  
  body {
    width: 550px;
    height: 550px;
    border: 1px solid black;
    background: #1F2937;
    color: green;
    margin: 0 auto;
  }
  
  .main-body {
    margin-left: 60px;
  }
  
  header div {
    margin-top: 120px;
    font-family: 'Karla';
  }
  
  h1 {
    margin: 0;
  }
  
  .white-header {
    color: white;
  }
  
  p {
    color: white;
    margin-bottom: 60px;
    font-family: 'Inter';
  }
  
  hr {
    width: 475px;
  }
  
  button {
    color: green;
    background: #273549;
    padding: 4px 15px;
    margin: 8px;
    border-radius: 6px;
    border: none;
  }
  
  .generator {
    color: white;
    background: #10B981;
    width: 223px;
    padding: 10px;
  }